.buttonsContainer {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
}

.button {
  background-color: white;
  font-size: large;
  width: 45px;
  height: 45px;
  margin: 20px;
}
