.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.tube {
  display: flex;
  justify-content: center;
  min-width: 30px;
  width: calc(100% / 7);
  margin: 20px 0;
}
